body {
  background-color: white;
  font-family:'Roboto', sans-serif;
}

/* Your CSS goes here */


#container {
  width:900px;
  margin:0 auto;
  text-align:center;
}

.black-wrapper {
  width:300px;
  height:300px;
  margin:0 auto;
  background-color:black;
  border-radius:50%;
  -webkit-border-radius:50%;
  position:relative;
}

.inside-wrapper {
  position:relative;
  background-color:#2B0B56;
  width:200px;
  height:200px;
  margin:0 auto;
  border-radius:50%;
  top:30px;
}

.eight {
font-weight: bold;
font-size: 50px;
color: white;
position: absolute;
text-align: center;
margin: 0 auto;
top: 40px;
width: 100%;
}

.message {
font-weight: 100;
font-size: 13px;
color: white;
position: absolute;
text-align: center;
margin: 0 auto;
top: 100px;
width: 100%;
}

#getMsg {
  margin-top:20px;
  background-color:#2B0B56;
  padding:20px 40px;
  text-transform: uppercase;
  color:white;
  font-size:14px;
  font-weight:300;
  border:1px solid transparent;
  transition:.5s;
}

#getMsg:hover {
  background-color:black;
  cursor: pointer;
}
